body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* 헤더 */
.header {
  background-color: #f6f5ef;
  width: 100%;
  height: 120px;
}

.header__nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 1100px;
  height: 120px;
}

.main_logo {
  width: 75px;
  height: 75px;
}

.nav_container {
  width: 100%;
  height: 100%;
}

.util_nav,
.sub_nav {
  float: right;
  display: flex;
  justify-content: space-between;
}

.sub_nav {
  box-sizing: border-box;
  align-items: flex-end;
  height: 100%;
  margin: 0;
}

.sub_nav > li {
  margin-bottom: 50px;
}
.sub_nav > li > a {
  width: auto;
  padding: 20px 20px 14px 20px;
}

.util_nav {
  margin: 0;
}

.util_nav > li {
  padding: 10px;
  font-size: 13px;
}

/* 드롭다운 */
.dropdown {
  visibility: hidden;
  height: 0;
  z-index: 6;
  position: absolute;
  background-color: #2c2a29;
  width: 100%;
  transition: height 300ms ease;
}

.dropdown_container {
  max-width: 1100px;
  margin: 0 auto;
}

.dropdown_container > ul {
  padding: 0;
  margin-top: 15px;
  width: 220px;
  float: left;
}

.dropdown_container > ul > li > a {
  color: #999;
  font-size: 12px;
}

.dropdown_container > ul > li.dropdown__title_list > a {
  color: white;
  font-size: 14px;
}

.dropdown__title_list {
  width: 100%;
  padding: 3px 0px 12px 0px;
}
/* 메인 */

.main {
  background-image: url(imgs/2020_xams_bg_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 646px;
}

.main__inner {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 70px;
  height: 100%;
  box-sizing: border-box;
}

.main__inner-slogan {
  opacity: 0;
  transition: all 500ms ease;
}

.inner-set {
  position: absolute;
  opacity: 0;
  transition: all 500ms ease;
}

.inner-set::after {
  content: '';
  position: absolute;
  height: 100%;
  max-height: 98px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.set_01 {
  bottom: 12.5%;
  left: 26%;
  width: 29%;
  max-width: 308px;
}

.set_01::after {
  top: 98%;
  left: 0;
  width: 60%;
  max-width: 184px;
  background-image: url(imgs/2020_xmas_latte_tit_1.png);
}

.set_02 {
  bottom: 20%;
  left: 39.7%;
  width: 25%;
  max-width: 263px;
}

.set_02::after {
  top: -27%;
  left: -12%;
  width: 88%;
  max-width: 230px;
  background-image: url(imgs/2020_xmas_popcorn_tit_1.png);
}

.set_03 {
  bottom: 15%;
  left: 55.7%;
  width: 26%;
  max-width: 281px;
  z-index: 1;
}

.set_03::after {
  top: 103%;
  left: -7%;
  width: 80%;
  max-width: 223px;
  background-image: url(imgs/2020_xmas_relaxer_tit_1.png);
}

.set_04 {
  bottom: 32%;
  left: 69%;
  width: 26%;
  max-width: 275px;
}

.set_04:after {
  top: 2%;
  left: 51%;
  width: 67%;
  max-width: 183px;
  background-image: url(imgs/2020_xmas_blended_tit.png);
}

.set_05 {
  bottom: 20%;
  left: 78.5%;
  width: 26%;
  max-width: 294px;
}

.set_05::after {
  top: 90%;
  left: 1%;
  width: 66%;
  max-width: 183px;
  background-image: url(imgs/2020_xmas_chocolate_tit_1.png);
}

.btn_slogan {
  color: white;
  position: absolute;
  box-sizing: border-box;
  top: auto;
  left: 10.5%;
  width: 125px;
  height: 38px;
  line-height: 34px;
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 3px;
  z-index: 5;
  opacity: 0;
  transition: all 500ms ease;
}

.btn_slogan a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 300ms ease;
}

.btn_slogan a:hover {
  background-color: #1e3932;
}

.line_notice {
  width: 100%;
  height: 62px;
}

.line_notice__left {
  float: left;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 50%;
  height: 100%;
}

.left-notice_container {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  height: 100%;
}

.left-notice_container > a {
  color: white;
}

.news {
  width: 285px;
  margin: 0px 50px 0px 20px;
}

.news-plus {
  width: 36px;
  height: 36px;
}

.news_plus {
  background: url(imgs/btn_notice_plus.png) 0 0 no-repeat;
  background-size: 36px;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.line_notice__right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hide_btn {
  width: auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.hide_btn > h4 {
  margin: 0px 80px;
}

/* 슬라이더  */

.hide_slide {
  z-index: 3;
  position: relative;
  background-color: white;
  /* visibility: hidden; */
  width: 100%;
  overflow: hidden;
  height: 0;
  transition: height 500ms ease;
  text-align: center;
}

.hide_slide-box {
  z-index: 3;
  width: 1100px;
  height: 552px;
  margin: auto;
  margin-top: 30px;
  transform: translateX(-62%);
}

.slide_swiper-box {
  transform: translateY(-90%);
  margin: auto;
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 100ms ease;
}

.swiper_btn {
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  outline: none;
  transition: all 200ms ease;
}

.swiper_btn:hover {
  background-color: white;
  opacity: 0.7;
}

.hide_slide-list {
  box-sizing: border-box;
  z-index: 3;
  padding: 0;
  margin: 0;
  height: 620px;
  transition: all 500ms ease;
}

.hide_slide-item {
  z-index: 3;
  width: 820px;
  padding: 0 10px;
  float: left;
}

/* 리워드 */

.rewards {
  position: relative;
  z-index: 4;
  background-color: #1e3932;
  box-sizing: border-box;
  padding: 30px 0 40px 0;
  width: 100%;
  height: 240px;
}

.reward_container {
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.reward_logo {
  margin: 0 40px;
}

.reward_logo > img {
  width: 176px;
}

.reward_contents {
  width: 830px;
  padding-right: 30px;
}

.reward__info {
  color: #fff;
  margin-bottom: 22px;
  border-bottom: 1px solid #4b615b;
}

.reward__info__text > h2 {
  margin: 0 0 12px 0;
}

.reward__info__text {
  margin-bottom: 12px;
}

.reward__info__text > p {
  margin: 0;
}

.btn-signin_group {
  transform: translateY(-50px);
  float: right;
}

.btn_signup {
  float: left;
}

.btn_signup > a {
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00704a;
  border: 2px solid #00704a;
}

.btn_signin {
  float: left;
}

.btn_signin > a {
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 9px;
  background-color: transparent;
  border: 2px solid #fff;
}

.reward__gift {
  color: #fff;
  font-size: 14px;
}

.reward__gift > p {
  float: left;
}

.btn_egift {
  float: right;
}

.btn_egift > a {
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  line-height: 34px;
  height: 38px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 9px;
  border: 2px solid #fff;
}

/* 블렌드 */

.main-blend {
  background-image: url(imgs/2020_xmas_bean_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 573px;
}

.belnd_info {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blend_img-box {
  transition: all 2000ms ease;
  transform: translateX(-1000px);
}

.blend_text-box {
  transition: all 2000ms ease;
  transform: translateX(800px);
}
